@model OnlineStoreSample.Models.Item
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>@Model.Name</h2>

<li>Model Number: @Model.Model</li>
<li>SKU: @Model.SKU</li>
<li>Price: $@Model.Price</li>

